body{
    size: inherit;
}
#login_forget_password:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
#register_confirm_password{
    max-width: 100%;
}
#loading{
    display: none;
    margin-top: 12rem;
    margin-left: 44rem;
    position: fixed;
}
.spinner-border{
    height: 4rem;
    width: 4rem;
}

.hide{
    display: none;
}
